.general {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.balance {
    margin-top: 20px;
    font-size: 54px;
    font-weight: 600;
}

.watch-capsule {
    display: flex;
    position: relative;
}

.always-capsule {
    position: relative;
    animation: moveCapsule 1.3s infinite alternate;
    max-width: 180px;
    width: 100%;
}

.active-signal {
    font-weight: 300;
    opacity: 0;
    animation: activeSignal 2s ease infinite;
    background-color: transparent;
    color: #002ed5;
}

@keyframes activeSignal {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }
}

@keyframes moveCapsule {
    0% {
        top: -6px;
    }

    100% {
        top: 6px;
    }
}