.general {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.balance {
    margin-top: 20px;
    font-size: 54px;
    font-weight: 600;
}

.watch-capsule {
    display: flex;
    position: relative;
    max-width: 210px;
    max-height: 210px;
}

.always-capsule {
    position: relative;
    z-index: 2;
    max-width: 210px;
    width: 100%;
    animation: appearAndMoveCapsule 0.7s ease-in-out, moveCapsule 1.3s infinite alternate 3s;
    /* `3s` delay to start the second animation after the first one completes */
}

@keyframes appearAndMoveCapsule {
    0% {
        opacity: 0;
        transform: translateY(-500px) scale(0);
    }

    70% {
        transform: translateY(0) scale(0.4);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes moveCapsule {
    0% {
        top: 0px;
    }

    100% {
        top: -10px;
    }
}