:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: white;
}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: start;
  min-width: 320px;
}

/* scroll */
.custom-scroll {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #666 transparent;

  &::-webkit-scrollbar {
    display: none;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #15111a;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
/* end scroll */

/* colors */
.color-yellow {
  color: yellow;
}

.color-purple {
  color: purple;
}

.color-blue {
  color: #4000ff;
}

/* colors */

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.default-page {
  width: 100%;
  height: 100%;
}

/* buttons */
.default-button {
  font-size: 16px;
  font-weight: 500;
  color: #3700ff;
  background-color: #010b12;
  height: 36px;
  padding: 0 20px;
  border-radius: 20px;
  border: none;
}

/* end buttons */

button {
  font-family: inherit;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: white;
    background-color: black;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}