.background-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #333;
  }
  
  .trampoline {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 40px;
    background-color: #2ecc71; /* Цвет батута, например, зеленый */
    border-radius: 20px;
    animation: bounce 1s ease-in-out infinite alternate;
  }
  
  .person {
    position: absolute;
    bottom: 40px; /* Высота батута + небольшой отступ */
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: #3498db; /* Цвет "прыгающего" объекта, например, синий */
    border-radius: 50%;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px); /* Высота подъема при прыжке */
    }
  }
  
  .bouncing .trampoline {
    transform: translateX(-50%) scale(1.05); /* Увеличение батута при прыжке */
  }