.items {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #000000ba;
    border-radius: 26px;
    margin-bottom: 40px;

    .item-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 12px 0;
        border-bottom: 0.5px solid #252525;
        
        .item-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            width: 100%;
            
            .item-icon {
                width: 36px;
                height: 36px;
                border-radius: 50%;
            }
            
            .item-center-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                
                .item-title {
                    font-size: 16px;
                    font-weight: 800;
                }
                
                .item-subtitle {
                    color: #dddddd;
                    font-size: 16px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
            
            .item-right-container {
                color: #dddddd;
                font-size: 20px;
                font-weight: 600;
                display: flex;
                align-items: center;
            }
        }
    }
}
