.items {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #000000ba;
    margin-bottom: 40px;

    .item-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        .item-wrapper-icon {
            color: #dddddd;
            font-size: 18px;
            font-weight: 500;
            min-width: 34px;
            min-height: 34px;
            max-width: 34px;
            max-height: 34px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .item-icon {
                width: 100%;
                border-radius: 50%;
            }
        }
        
        .item-wrapper {
            position: relative;
            border-bottom: 0.5px solid #252525;
            padding: 10px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            width: 100%;
            
            .item-center-container {
                display: flex;
                flex-direction: column;
                gap: 4px;
                width: 100%;
                
                .item-title {
                    font-size: 16px;
                    font-weight: 800;
                }
                
                .item-subtitle {
                    color: #dddddd;
                    font-size: 16px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
            
            .item-right-container {
                color: #dddddd;
                font-size: 20px;
                font-weight: 600;
                display: flex;
                align-items: center;
            }
        }
    }
}
