.mod-button {
  color: white;
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
  height: 40px;
  min-height: 40px;
  padding: 0 16px;
  border-radius: 28px;
  border: 1px solid var(--night-purple);
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
  gap: 10px;

  &:hover {
    opacity: 1;
  }

  &:active {
    transform: translateY(0px);
  }

  &.mod-custom-button {
    border-color: #191219;
    color: #CF00F8;
  }
}