.evently-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.boost-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    width: 100%;
}

.boost-container-animate {
    animation: slideAndAppear 0.5s ease forwards; // Объединенная анимация
}

@keyframes slideAndAppear {
    0% {
        transform: translateX(500%); // Сдвиг вправо за пределы экрана
        opacity: 0; // Начальная прозрачность
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.boost-last-level {
    animation: slideLastLevel 0.4s ease forwards;
}

@keyframes slideLastLevel {
    0% {
        padding-top: 36px;
    }

    100% {
        padding-top: 0px;
    }
}

.watch-levels {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-arrow {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-arrow:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.boost-item {
    display: flex;
    position: relative;
    max-width: 210px;
    max-height: 210px;
}

.boost-item-image {
    max-width: 210px;
    width: 100%;
    position: relative;
    animation: appearAndMoveCapsule 1s ease-in-out, moveCapsule 1.3s infinite alternate 3s;
    z-index: 2;
}

@keyframes appearAndMoveCapsule {
    0% {
        opacity: 0;
        transform: translateY(-500px) scale(0);
    }

    70% {
        opacity: 0.2;
        transform: translateY(0) scale(0.3);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes moveCapsule {
    0% {
        top: 0px;
    }

    100% {
        top: -10px;
    }
}

.boost-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid rgb(28, 28, 28);
}

.boost-name {
    font-size: 44px;
    font-weight: 600;
}

.boost-param {
    color: var(--color-text-info);
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.price-item {
    font-size: 28px;
    font-weight: 600;
}

.bottom-boost-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}