.item-with-dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    width: 100%;

    .item-name,
    .item-value {
        white-space: nowrap;
        color: #a4a4a4;
        font-size: 16px;
        font-weight: 200;
        text-align: center;
    }

    .dots {
        flex-grow: 1;
        border-bottom: 1px solid rgb(28, 28, 28);
        margin: 0 8px;
    }
}