.referral-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.invited-count {
    font-size: 28px;
    font-weight: 500;
}

.referral-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
    height: 100%;
}

.referral-text {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}
