.collections-container {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 30px;
}

.collection-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.collection {
    background-color: #000000d1;
}

.collection-link {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.collection-watch-banner {
    max-width: 1024px;
}

.collection-banner {
    width: 100%;
    border-radius: 26px;
    border: 1px solid rgb(24, 24, 24);
    overflow: hidden;
}

.collection-name {
    font-size: 26px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}

.collection-info {
    color: var(--color-text-info);
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}