.honeycomb {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
}

.hex {
  width: 100px;
  height: 57.74px; /* width * sqrt(3)/2 */
  background-color: #000;
  clip-path: polygon(
    25% 0%, 75% 0%, /* top side */
    100% 50%, /* top-right */
    75% 100%, 25% 100%, /* bottom side */
    0% 50% /* bottom-left */
  );
  border: 1px solid #777;
  margin: 28.87px 0; /* height/2 */
  position: relative; /* Необходимо для псевдоэлементов */
}

.hex:before,
.hex:after {
  content: '';
  position: absolute;
  width: 0;
  border: 1px solid #777; /* Боковые границы */
}

.hex:before {
  top: 0;
  left: 0;
  border-right-width: 0; /* Отключаем правую границу для создания одной общей боковой границы */
}

.hex:after {
  bottom: 0;
  left: 0;
  border-right-width: 0; /* Отключаем правую границу для создания одной общей боковой границы */
}

.hex-row {
  display: flex;
  justify-content: center;
}

.hex-row:nth-child(odd) {
  margin-left: 50px; /* half width */
}
