.honeycomb-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.honeycomb {
  display: flex;
  flex-wrap: wrap;
}

.hex {
  width: 100px;
  height: 115.47px; /* ширина * (sqrt(3)/2) */
  position: relative;
  margin: 28.87px 0; /* height/2 */
}

.hex svg {
  width: 100%;
  height: 100%;
}

.hex-row {
  display: flex;
  justify-content: center;
}

.hex-row:nth-child(odd) {
  margin-left: 50px; /* половина ширины */
}

