.grid-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Серый цвет фона */

  .grid-cell {
    width: 50px; /* Ширина прямоугольника */
    height: 50px; /* Высота прямоугольника */
    background-color: white; /* Цвет прямоугольника */
    border: 1px solid #ccc; /* Серые линии */
  }
}
