.northern-lights {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

.lights {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: animateLights 5s infinite;
}

@keyframes animateLights {
  0%, 100% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(10%);
  }
}