.bottom-navigation {
    width: 100%;
    flex-shrink: 0;
    height: 90px;
}

.navigation {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-b {
    font-size: 20px;
    font-weight: 300;
}