.game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.coins {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.button-game {
    display: flex;
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    border-radius: 0;
    cursor: none;
}