.reward-x2 {
    background-color: #191219;
    color: #CF00F8;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}