.leaderboard {
    position: relative;
    border-bottom: 0.5px solid #252525;
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.leaderboard-place {
    display: flex;
    font-weight: 200;
    justify-content: center;
    align-items: center;
    min-width: 30px;
}

.leaderboard-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.leaderboard-name {
    font-size: 16px;
    font-weight: 800;
}

.leaderboard-reward {
    color: #dddddd;
    font-size: 16px;
    font-weight: 600;
}

.leaderboard-points {
    font-size: 20px;
    font-weight: 600;
}
