.page-title-container {
    color: white;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
    padding-top: 40px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
    width: 100%;
}

.page-title {
    font-size: 48px;
}

.page-subtitle {
    font-size: 18px;
}

/* Content with animation */
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: translateY(30px);
    animation: slideUp 0.8s forwards;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}

/* Определение анимации */
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slideDown {
    animation: slideDown 0.2s forwards;
}

@keyframes slideDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

/* End Content with animation */