.task-completion-container {
    font-size: 22px;
    font-weight: 800;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 12px 15px;
}

.task-completion-count {
    display: flex;
    gap: 6px;
    align-items: center;
}

.completed-count {
    color: #dddddd;
    font-size: 20px;
    font-weight: 600;
}


.claim-reward {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 20px #003106;
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        /* Начальное и конечное положение */
    }

    40% {
        transform: translateY(-10px);
        /* Подъем на 30px */
    }

    60% {
        transform: translateY(-5px);
        /* Слегка уменьшаем высоту перед окончательным падением */
    }
}