.tasks {
    display: flex;
    flex-direction: column;
}

.task {
    position: relative;
    background-color: #000000ba;
    border-bottom: 0.5px solid #1B1B1B;
    padding: 14px 0;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.task-watch {
    display: flex;
}

.task-image {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.task-info {
    display: flex;
    flex-direction: column;
}

.task-name {
    font-size: 14px;
    font-weight: 800;
}

.task-reward {
    font-size: 14px;
    font-weight: 600;
}

.task-start {
    margin-top: 6px;
}

.task-completed {
    opacity: 0.6;
}