.tasks {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task {
    /* background-color: #05002c31; */
    border-radius: 26px;
    border: 1px solid rgb(24, 24, 24);
    padding-top: 20px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.task-watch {
    display: flex;
}

.task-image {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.task-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.task-name {
    font-size: 16px;
    font-weight: 500;
}

.task-reward {
    font-size: 22px;
    font-weight: 600;
}

.task-start {
    margin-top: 6px;
}

.task-completed {
    opacity: 0.6;
}