.earn-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

.e-icon {
    font-size: 60px;
}

.e-total {
    font-size: 40px;
    font-weight: 800;
}