.active-time {

}

.time-left {
    font-size: 42px;
    font-weight: 600;
}

.info-for {
    color: var(--color-text-info);
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.active-signal {
    font-size: 18px;
    font-weight: 300;
    opacity: 0;
    animation: activeSignal 2s ease infinite;
    background-color: transparent;
    color: #002ed5;
}

@keyframes activeSignal {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}