.active-time {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(28, 28, 28);
    width: 100%;
}

.time-left {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-coins {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-for {
    color: var(--color-text-info);
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-top {
    margin-top: 10px;
}