.active-time {
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
    max-height: 280px;
    position: absolute;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-time-left {
    font-size: 26px;
    font-weight: 600;
    color: #00CDFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-coins {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-for {
    color: var(--color-text-info);
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-top {
    margin-top: 4px;
}